{{define "main"}}
    <h1>Birb is an everything Discord Bot!</h1>

    <p>
        Birb being hosted in Beauharnois in Canada ensures the attempt that you will attain the lowest ping possible!
        Birb has features that will knock your socks off... we hope! Birb is never finished and we're always looking to improve! 
        Birb is jam-packed with all the cool features that all Discord bots should have and all that you could (more than likely), ever want!
    </p>

    <a href="/invite" class="btn">
        Invite me to your server
    </a>

    <a href="https://discordapp.com/invite/BysDKDB" class="btn alt">
        Get some support
    </a>

    <pre>
    <code>

    CheckMods:
        mods      
    Comics:
        xkcd      Grabs a (or the latest) comic from xkcd and shows it.
    DeveloperFun:
        fakegit   Generates a fake commit message like a Discord webhook otherwise ...
    GamingLookups:
        mcskin    
        osu       
    InfoCommands:
        ping      Returns the bot's response time.
        stats     Display statistics about the bot.
    Kitsu:
        kitsu     Get manga or anime from kitsu.io
    LanguageCommands:
        jisho     Translate a word into Japanese.
        urban     Grab a word from urban dictionary.
    LocaleManager:
        locale    List locales and get current locale.
    ModActions:
        ban       Bans a member for a given reason.
        kick      Kicks a member for a given reason.
        softban   Softbans a member for a given reason to clear messages.
    PackageLookups:
        npm       Look up a package on the official Node.js package manager registry.
        pypi      Look up a package on the Python Package Index.
    PrefixManager:
        prefix    Get the bot's current prefixes.
        setprefix Set a prefix for a guild.
    RandomCommands:
        8ball     Asks the magic 8ball a question.
        a         AAAAAAA!
        coin      Flips a coin randomly and gives you the result.
        dice      Rolls a die wiithh input in the AdX notation.
        rate      Gives something a rating.
    RandomImages:
        birb      Search birb for images.
        cat       Search cat for images.
        dog       Search dog for images.
        inspiro   Generates a random inspiring image for you!
    ReactionImages:
        cry       Show a random anime cry image.
        dance     Show a random anime dance image.
        happy     Show a random anime happy image.
        hug       Show a random anime hug image.
        kiss      Show a random anime kiss image.
        lewd      Show a random anime lewd image.
        neko      Show a random anime neko image.
        owo       Show a random anime owo image.
        pat       Show a random anime pat image.
        slap      Show a random anime slap image.
        smug      Show a random anime smug image.
        triggered Show a random anime triggered image.

    </code>
</pre>

{{end}}